* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #10cab7;
  --main-colum: repeat(auto-fill, minmax(300px, 1fr));
  --transition: 0.3s;
  --second-color: rgb(87, 87, 87);
  --border-radius: 6px;
  --secondary-padding: 60px;
  --child-padding: 20px;
  --p-font-weight: 400;
  --section-background: #f6f6f6;
  --grid-gap: 20px;
  --line-height: 1.8;
  --content-margin-top: 100px;
  --secondary-color: #2c4755;
}
body {
  font-family: "Work Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Components */
.larg-shadow-word {
  text-align: center;
  letter-spacing: -3px;
  color: #ebeced;
  font-size: 100px;
}

.larg-shadow-word + p {
  text-align: center;
  margin-top: -30px;
  color: #575757;
}
@media (max-width: 767px) {
  .larg-shadow-word {
    font-size: 60px;
  }
  .larg-shadow-word + p {
    margin-top: -20px;
  }
}
/* end Components */

/* start header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
  cursor: pointer;
}
.bars {
  position: relative;
}
.bars .icon {
  display: flex;
  width: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.bars .icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 5px;
}
.bars .icon span:nth-child(2) {
  width: 60%;
  transition: var(--transition);
}
.bars:hover .icon span:nth-child(2) {
  width: 100%;
}
.bars:hover ul {
  display: block;
}
.bars ul {
  position: absolute;
  top: 25px;
  right: 0;
  display: none;
  width: 200px;
  background-color: var(--section-background);
  list-style: none;
  transition: var(--transition);
}
.bars ul li {
  display: block;
  padding: 20px;
  transition: var(--transition);
}
.bars ul li:not(:last-child) {
  border-bottom: 1px solid #c8c9cb;
}
.bars ul li a {
  text-decoration: solid;
  color: var(--second-color);
}
.bars ul li:hover {
  padding-left: 30px;
}

.bars ul::before {
  content: "";
  border: solid 12px;
  border-color: transparent transparent var(--section-background) transparent;
  position: absolute;
  top: -18px;
  right: 2px;
  border-radius: var(--border-radius);
}
/* end header */
/* start landing */
.landing {
  background-image: url(../img/patrick-hendry-37ZuGYD3JOk-unsplash.jpg);
  background-size: cover;
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .text {
  text-align: center;
  max-width: 365px;
}
.landing .text h1 {
  color: var(--main-color);
  font-weight: 800;
  font-size: 60px;
  margin: 0;
  padding-bottom: 20px;
}
.landing .text p {
  font-size: 19px;
  font-weight: var(--p-font-weight);
  color: var(--second-color);
}
/* end landing */
/* start Features */
.features {
  padding-top: var(--secondary-padding);
  padding-bottom: var(--secondary-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: var(--main-colum);
  text-align: center;
  grid-gap: var(--grid-gap);
}
.fea {
  padding-bottom: 30px;
}
.features .container i {
  color: var(--main-color);
  padding-bottom: var(--child-padding);
}
.features .container h3 {
  padding-bottom: var(--child-padding);
  font-weight: 600;
}
.features .container p {
  color: var(--second-color);
  font-weight: var(--p-font-weight);
  line-height: var(--line-height);
}
/* end Features */
/* start Services */
.Services {
  padding-top: var(--secondary-padding);
  padding-bottom: var(--secondary-padding);
}
.services-content {
  margin-top: var(--content-margin-top);
  display: grid;
  grid-template-columns: var(--main-colum);
  grid-gap: calc(var(--grid-gap) + 10px);
  align-items: center;
}
.services-content .col .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 676px) {
  .services-content .col .srv {
    text-align: center;
    flex-direction: column;
  }
}
.services-content .col .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services-content .col .srv .text {
  flex: 1;
}
.services-content .col .srv .text h4 {
  margin-bottom: 20px;
}
.services-content .col .srv .text p {
  color: var(--second-color);
  line-height: var(--line-height);
  font-weight: var(--p-font-weight);
}

.Services .col .images {
  text-align: center;
  position: relative;
}
.Services .col .images::before {
  content: "";
  position: absolute;
  width: 20%;
  background-color: var(--secondary-color);
  height: calc(100% + 100px);
  right: 0;
  z-index: -1;
  top: -50px;
}
@media (max-width: 1199px) {
  .Services .col .images {
    display: none;
  }
}
.col .images img {
  width: 260px;
  align-items: center;
}

/* end Services */
/* start portfolio */
.portfolio {
  padding-top: var(--secondary-padding);
  padding-bottom: var(--secondary-padding);
  background-color: var(--section-background);
}
.portfolio-content {
  margin-top: var(--content-margin-top);
  display: grid;
  grid-template-columns: var(--main-colum);
  grid-gap: var(--grid-gap);
}
.portfolio-content .por {
  background-color: white;
}
.portfolio-content img {
  max-width: 100%;
}
.portfolio-content .text {
  padding: 20px;
}
.portfolio-content .text h3 {
  margin-bottom: 20px;
}
.portfolio-content .text p {
  color: var(--second-color);
  line-height: var(--line-height);
}
/* end portfolio */
/* start about */
.about {
  padding-top: var(--secondary-padding);
  padding-bottom: var(--secondary-padding);
}
.about-content {
  margin-top: var(--content-margin-top);
  display: flex;
  justify-content: space-evenly;
}
.about-content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-content .text p:first-child {
  line-height: var(--line-height);
  font-weight: 700;
}
.about-content .text hr {
  width: 50%;
  border: solid var(--main-color) 1px;
}
.about-content .text hr + p {
  color: var(--second-color);
  line-height: var(--line-height);
}

.about-content .images {
  position: relative;
  margin-right: 200px;
}
.about-content .images::before {
  content: "";
  width: 40%;
  height: calc(100% + 80px);
  background-color: var(--section-background);
  position: absolute;
  left: 0;
  top: -40px;
  z-index: -1;
}
.about-content .images::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}

.about-content .images img {
  width: 250px;
}
@media (max-width: 992px) {
  .about-content .images::after {
    display: none;
  }
  .about-content .images::before {
    display: none;
  }
  .about-content {
    flex-direction: column;
    grid-gap: 50px;
  }
  .about-content .text {
    text-align: center;
    grid-gap: var(--grid-gap);
  }
  .about-content .images {
    margin: auto;
  }
}
/* end about */
/* start contact */
.contact {
  padding-top: var(--secondary-padding);
  padding-bottom: var(--secondary-padding);
  background-color: var(--section-background);
}
.contact .text {
  margin-top: var(--content-margin-top);
  text-align: center;
}
.contact .text .lable {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .text .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .text .Social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.contact .text .Social i {
  padding: 0 5px;
}
@media (max-width: 767px) {
  .contact .text .lable,
  .contact .text .link {
    font-size: 25px;
  }
}
/* end contact */
/* start footer */
footer {
  padding: 20px;
  background-color: var(--secondary-color);
  text-align: center;
}
footer span {
  color: var(--main-color);
  font-weight: bold;
}
footer p {
  font-size: 19px;
}

/* end footer */
